tr, td {
    border: 1px solid black;
  }

.th-wider1{
  width: 200px;
}

.th-wider2{
  width: 270px;
}

.acti{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.view{
  background-color: rgb(56, 161, 156);
}

.edit{
  background-color: rgb(30, 144, 30);
}

.del{
  background-color: rgb(248, 79, 79);
}

.uno {
  font-weight: bold;
}